
.TextMessage {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 10px;
  height: 50px;
  width: 250px;
  padding: 6px;
  background: var(--menu-background);
  margin: 1.5px;
  color: var(--menu-font-color);
  z-index: 2;
}
.TextMessage_p {
  margin: 0;
  font-size: 5px;
}
.TextMessage span {
  opacity: 0;
}
.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_button {
  margin: 0;
  font-size: 8px;  
  padding:0;
  color: white;
  background:none;
  border:0;
  cursor: none;
  font-family: inherit;
  position: absolute;
  right: 2px;
  bottom: 0;
}